html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    height: 100%;
    width: 100%;
    
}

.left-column {
    width: 100%;
    background-color: #1992D4;
    color: white;
    justify-items: center;
    /* align-items: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column {
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    background-color: brown;
    border: 2px solid black;
}

.content {
    background-color: lightblue;
    border: 2px solid black;
}

.child {
    font-size: 25px;
}

.heading {
    font-size: 35px;
    /* background-color: grey; */
    display: flex;
    width: 100%;
    padding-left: 25px;
    margin-top: 20px;
    align-items: center;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    /* background-color: lightgreen; */
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    /* background-color: orange; */
}

.middle .child, .bottom .child {
    font-size: 30px;
    /* margin: 10px 0; */
    padding-left: 25px;
}

.child img, .heading img {
    filter: invert(1);
    margin-right: 10px;
}