html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    height: 100%;
    width: 75%;
    
}

.left-column {
    width: 100%;
    background-color: #1992D4;
    color: white;
    justify-items: center;
    /* align-items: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

.right-column {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    background-color: #FFFFFF;
}

.content {
    background-color: lightblue;
}

.child {
    font-size: 25px;
}

.heading {
    font-size: 35px;
    display: flex;
    width: 100%;
    padding-left: 25px;
    margin-top: 20px;
    align-items: center;

}

.middle {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
}

.middle .child, .bottom .child {
    font-size: 25px;
    /* margin: 10px 0; */
    padding-left: 25px;
    font-weight: bold;
}

.child img {
    filter: invert(1);
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.heading img {
    filter: invert(1);
}

.search {
    display: flex;
    /* margin: 0 30px; */
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.search img {
    width: 30px;
    height: 30px;
    /* margin-right: 0; */
}

.search-left {
    width: 65%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.search-box {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    background-color: #E2E8F0;
}

.search .submarine-img {
    width: 55px;
    height: auto;
    border-radius: 50%;
}

.search-right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    gap: 40px;
}

.profile-left {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 35px;
    font-family: sans-serif;
    gap: 25px;
    
}

.profile-right {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
}

.greeting {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.profile-left img {
    width: 85px;
    height: auto;
    border-radius: 50%;
}

.profile-button {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #1992D4;
    border-radius: 25px;
    width: 120px;
    color: white;
    border: none;
    height: 50px;
}